<div ng-controller="findAll">
    <input type="text" ng-model="less">
    <table >
    		<tr>
    			<td>序号</td>
    			<td>姓名</td>
    			<td>角色</td>
    			<td>地址</td>
    			<td>年纪</td>
    			<td>性别</td>
    			<td>生日</td>
    			<td>邮箱</td>
    			<td>密码</td>
    		</tr>
        <tr style="{{$even?'background-color: #f1f1f1':''}}" ng-repeat="user in users | filter:less | orderBy : 'userName' ">
            <td><input type="text" readonly="readonly" value="{{ $index + 1 }}" /></td>
            <td><input type="text" readonly="readonly" value="{{user.userName}}" /></td>
            <td><input type="text" readonly="readonly" value="{{user.userRole}}" /></td>
            <td><input type="text" readonly="readonly" value="{{user.userAddress}}" /></td>
            <td><input type="text" readonly="readonly" value="{{user.userAge}}" /></td>
            <td><input type="text" readonly="readonly" value="{{user.userSex}}" /></td>
            <td><input type="text" readonly="readonly" value="{{user.userBirthday |date:'yyyy-MM-dd'}}" /></td>
            <td><input type="text" readonly="readonly" value="{{user.userEmail}}" /></td>
            <td><input type="text" readonly="readonly" value="{{user.userPassword}}" /></td>
        </tr>
    </table>
</div>