<h1>this is the login.html</h1>
<form ng-controller="login" name="myForm" novalidate>

	<p>
		用户名:<br> <input type="text" name="userName"
			ng-model="user.userName" required ng-minlength="2" ng-maxlength="8"
			ng-pattern="/^[a-zA-Z0-9]{3,8}$/" /> <span style="color: red"
			ng-show="myForm.userName.$dirty && myForm.userName.$invalid">
			<span ng-show="myForm.userName.$error.required">用户名是必须的。</span> <span
			ng-show="myForm.userName.$error.minlength">最短2位。</span> <span
			ng-show="myForm.userName.$error.maxlength">最长8位。</span> <span
			ng-show="myForm.userName.$error.pattern">仅限字母、数字。</span>
		</span>
	</p>

	<p>
		密码:<br> <input type="password" name="userPassword"
			ng-model="user.userPassword" required> <span
			style="color: red"
			ng-show="myForm.userPassword.$dirty && myForm.userPassword.$invalid">
			<span ng-show="myForm.userPassword.$error.required">密码是必须的。</span>
		</span>
	</p>

	<p>
		<input type="button"
			ng-disabled="myForm.userName.$dirty && myForm.userPassword.$invalid ||
myForm.email.$dirty && myForm.email.$invalid"
			ng-click="login()" value="登陆" />
	</p>

</form>
